#cloud-config
hostname: test-ubuntu
timezone: Europe/London
package_update: true
package_upgrade: true
packages:
  - qemu-guest-agent
  - net-tools
  - curl
  - jq

users:
  - default
  - name: ubuntu
    groups: [sudo]
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_pub_key}
    sudo: ALL=(ALL) NOPASSWD:ALL

mounts:
  - [ "/dev/sda", "/mnt/shared_storage", "ext4", "defaults", "0", "2" ]

write_files:
  - path: /opt/cloudflared/.env
    permissions: '0600'
    owner: root:root
    content: |
      CF_TUNNEL_TOKEN=${cf_tunnel_token}

  - path: /opt/stack-cloudflared.json
    permissions: '0644'
    content: |
      ${indent(6, stack_json)}

  - path: /opt/bootstrap-portainer.sh
    permissions: '0755'
    content: |
      ${indent(6, portainer_script)}

runcmd:
  - systemctl enable qemu-guest-agent
  - systemctl start qemu-guest-agent
  - |
        for i in {1..10}; do
          [ -b /dev/sda ] && break
          echo "Waiting for /dev/sda..." && sleep 2
        done
        fsck -f -y /dev/sda || true
        mkdir /mnt/shared_storage
        mount /dev/sda /mnt/shared_storage
        TARGET_DIR="/mnt/shared_storage/${vm_name}"
        if [ ! -d "$TARGET_DIR" ]; then
          echo "Creating directory $TARGET_DIR"
          mkdir -p "$TARGET_DIR"
        else
          echo "Directory $TARGET_DIR already exists"
        fi
        chown ubuntu:ubuntu "$TARGET_DIR"
        chmod 755 "$TARGET_DIR"
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | apt-key add -
  - add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu bionic stable"
  - apt update -y && apt upgrade -y
  - apt install docker.io docker-compose -y
  - bash /opt/bootstrap-portainer.sh
  - echo "done" > /tmp/cloud-config.done
