{
  "name": "cloudflared",
  "repositoryURL": "https://github.com/emil64x/homelab-iac.git",
  "composeFile": "docker/cloudflared/docker-compose.yml",
  "repositoryReferenceName": "refs/heads/main",
  "env": [
    {
      "name": "CF_TUNNEL_TOKEN",
      "value": "${cf_tunnel_token}"
    }
  ],
  "autoUpdate": {
    "interval": "5m",
    "mechanism": "Interval"
  },
  "fromAppTemplate": false,
  "tlsskipVerify": false
}
