{
  "name": "${name}",
  "repositoryURL": "${repo_url}",
  "repositoryReferenceName": "refs/heads/main",
  "composeFile": "${compose_path}",
  "env": [${env_block}],
  "autoUpdate": {
    "interval": "5m",
    "mechanism": "Interval"
  },
  "fromAppTemplate": false,
  "tlsskipVerify": false
}